* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #598392;
  color: white;
  padding: 20px;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li:hover {
  cursor: pointer;
  background-color: #859ba3;
  transition: 400ms;
  }
nav ul li {
  list-style-type: none;
  padding: 10px 20px;
  color: #598392;
  font-size: 30px;
  justify-items: auto;
  vertical-align: middle;
  background-color: #eff6e0;
  border-radius: 46% 25% 46% 25%;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav a:link {
  text-decoration: none;
  color: #598392;
  vertical-align: middle;
}
nav a:visited {
  text-decoration: none;
  color: #598392;
  vertical-align: middle;
}
.empleados {
  text-align: center;
}
.linkedin{
  width: 50px;
  height: 50px;
}
.linkedin img{
  height: 50px;
  width: 50px;
}
.miembros {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
  overflow: hidden;

}
.miembros img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  
}

.BBTequipo {
  display: flex;
  background-color: #598392;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 15%;
  padding-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 40px;

}
#BBT{
  background: #CFE7fA;
  background: linear-gradient(to right, #CFE7fA 0%, #6393C1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
