main {
  padding: 0px;
  margin: 0px;
}
nav{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #598392;
  color: white;
  padding: 20px;

}
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li{

  list-style-type: none;
  padding: 10px 20px;
  linkcolor: #598392;
  font-size: 30px;
  justify-items:auto;
  vertical-align: middle;
  background-color: #EFF6E0;
  border-radius: 46% 25% 46% 25%;
}

.logo{
  color: black;
  font-weight: bold;
  font-size: 30px;
}
nav a:link{
  text-decoration: none;
  color: #598392;
  vertical-align: middle;
}
nav a:visited{
  text-decoration: none;
  color: #598392;
  vertical-align: middle;
}


/*nav {
  background-color: rgb(18, 69, 89);
  color: white;
  box-sizing: border-box;
  position: relative;
  width: 100vh;
  height: 100%;
  background: #598392;
  border: 1px solid #598392;
  display: flex;
  align-items: left;
}
*/
.miembros {border-radius: 50%;
  }

.BBTequipo {background-color: #598392;
}
