main {
  padding: 0px;
  margin: 0px;
}

.logo{
  color: black;
  font-weight: bold;
  font-size: 30px;
}
a:link{
  text-decoration: none;
  color: white;
  vertical-align: middle;
}
a:visited{
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  vertical-align: middle;
}
/*nav {
  background-color: rgb(18, 69, 89);
  color: white;
  box-sizing: border-box;
  position: relative;
  width: 100vh;
  height: 100%;
  background: #598392;
  border: 1px solid #598392;
  display: flex;
  align-items: left;
}
*/
.miembros {border-radius: 50%;
  }

.BBTequipo {background-color: #598392;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: #598392;
  color: white;
  padding: 20px;

}