:root {
    --color01: #01161e;
    --color02: #124559;
    --color03: #598392;
    --color04: #aec3b0;
    --color05: #eff6e0;
    --colorshadow: rgb(24, 24, 80);
    --colortext: white;

    --font01: "Bebas Neue";
    --font02: "League Spartan";
    --font03: "Titan One";

}